@import "tailwindcss";

:root {
  /* Background */
  --background: #faf7f0;
  /* Surface */
  --surface: #ffffff;
  /* Text */
  --foreground: #1b1a18;
  /* Secondary text */
  --muted: #6b5d3f;
  /* Accent */
  --accent: #cf8b05;
  /* Accent hover/secondary */
  --accent-hover: #b87a04;
  /* Border */
  --border: #e5dcc8;
}

.dark {
  /* Background	#1B1A18 */
  --background: #1b1a18;
  /* Surface 	#392D15 */
  --surface: #392d15;
  /* Text #F5F0E8 */
  --foreground: #f5f0e8;
  /* Text #B8A888 */
  --muted: #b8a888;
  /* Accent	#F5A300 */
  --accent: #f5a300;
  /* Accent hover/secondary	#CF8B05 */
  --accent-hover: #cf8b05;
  /* Border	#4A3D1F  */
  --border: #4a3d1f;
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-border: var(--border);
}
